.same-width{
    width: 95px;
}


.table-options{
    display: flex;
    margin: .5rem 0;

    h2{
        margin: 0;
    }

    .stretch{
        flex-grow: 1;
    }

    .table-buttons{
        display: flex;
        justify-items: center;
    }
}