.credito-card{
    border: medium solid $bud-green;
    border-radius: .3rem;
    height: 95%;
    width: 400px;

    .header{
        align-items: stretch;
        display: flex;
        height: 30%;

        .contenedor{
            display: flex;
            flex-direction: column;
            flex-grow: 1;
    
            > div {
                border-bottom: 2px solid $bud-green;
                flex-grow: 1;
                padding: 3px;
            }
        }
    }

    .abonos{
        height: 40%;
        overflow: hidden;
    }

    .panel-liquidacion{
        // background-color: aqua;
        border-top: medium solid $bud-green;
        display: flex;
        flex-direction: column;
        height: 30%;
    }
    
}

.header__posicion{
    align-items: center;
    background-color: $bud-green;
    display: flex;
    justify-content: center;
    width: 140px;
}

.header__numeros{
    display: flex;

    > div{
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }

    .texto{
        font-size: .8rem;
        text-transform: capitalize;
    }

    .cifra{
        align-items: center;
        display: inline-flex;
        flex-grow: 1;
    }
}

.abonos{
    .same-width{
        flex-basis: 100px;
    }
}

.lista-abonos{
    height: 100%;
    list-style: none;
    margin: 0;
    overflow: auto;
    padding: 0;

    li{
        display: flex;
        justify-content: space-evenly;

        >div{
            flex-grow: 1;
            text-align: center;
        }
    }

    li:nth-child(2n+1){
        background-color: lighten($color: $bud-green, $amount: 37);
    }
}

.lista-header{
    background-color: lighten($color: $bud-green, $amount: 20);
    display: flex;

    > div{
        flex-grow: 1;
        text-transform: capitalize;
        text-align: center;
    }
}

.panel-liquidacion{
    .input-contenedor{
        height: 50%;
    }

    .dos-opciones{
        display: flex;
        flex-grow: 1;

        .button-wrapper{
            width: 50%;
        }
    }

    .button-wrapper{
        flex-grow: 1;

        button{
            height: 100%;
            text-transform: capitalize;
            width: 100%;
        }
    }
}

.input-contenedor{
    align-items: center;
    display: flex;
    
    >div{
        flex-grow: 1;
    }

    .input-wrapper{
        width: 105px;
        height: 3rem;

        input, form{
            font-size: 1.8rem;
            font-weight: 500;
            height: 100%;
            text-align: center;
        }
    }

    .same-width{
        display: flex;
        flex-basis: 150px;
        flex-direction: column;
        padding: 5px;

        span{
            text-align: center;
        }

        span:first-child{
            font-size: .8rem;
            text-transform: capitalize;
        }

        .cifra{
            font-size: 1.9rem;
        }
    }
}