.credito-card{
    border: medium solid $bud-green;
    border-radius: .3rem;
    height: 95%;
    width: 400px;

    .header{
        align-items: stretch;
        display: flex;
        height: 28%;
    }
    
    .contenedor{
        display: flex;
        flex-direction: column;
        flex-grow: 1;

        > div {
            border-bottom: 2px solid $bud-green;
            flex-grow: 1;
            padding: 3px;
        }
    }
}

.header__posicion{
    align-items: center;
    background-color: $bud-green;
    // color: white;
    display: flex;
    justify-content: center;
    width: 140px;
}

.header__numeros{
    display: flex;
}