.table-footer{
    height: $table-item-height;

    margin-top: 0;
    margin-bottom: 3rem;

    a{
        text-transform: capitalize;
    }
}

.table-footer-section{
    display: inline-block;
    width: 33.33%;

    span{
        text-transform: capitalize;
    }
}

.page-size-wrapper{
    align-items: center;
    display: flex;
    height: $table-item-height;
    justify-content: center;
}

.page-size-wrapper{
    label{
        margin-right: .5rem;
        text-transform: capitalize;
    }
}

.table-footer-section .navigation{
    display: flex;
    justify-content: right;

    span{
        margin: 0 .25rem;
    }
}

.inactive{
    color: black;
    text-decoration: none;
}