.liquidacion-viewport{
    min-height: 90vh;
}

.liquidacion{
    display: flex;
    height: 720px;
    margin-top: 5rem;
}

.liquidacion__ruta{
    background-color: beige;
    flex-basis: 400px;
}

.liquidacion__credito{
    background-color: azure;
    flex-grow: 1;
}