.liquidacion-viewport{
    min-height: 90vh;

    > .liquidacion{
        display: flex;
        height: 720px;
        margin-top: 5rem;
    }
}


.liquidacion__ruta{
    background-color: beige;
    flex-basis: 400px;
}

.liquidacion__creditos{
    flex-grow: 1;

    .container{
        align-items: stretch;
        display: flex;
        height: 30%;

        >div{
            padding: .5rem;
        }
    }
}

.credito-actual{
    align-items: center;
    display: flex;
    height: 70%;
    justify-content: center;
}

.nuevos-creditos{
    flex-grow: 1;
}

.creditos-pagos{
    flex-grow: 1;
}