@import "./variables";
@import "./Components/Spinner.scss";
@import "./Components/RootLayout.scss";
@import "./Components/Header.scss";
@import "./Components/Menu.scss";
@import "./Components/TableFooter.scss";
@import "./Components/CobroDetails.scss";
@import "./Pages/Login.scss";
@import "./Pages/Cobros.scss";

*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    margin: 0;
}

input{
    border-radius: .5rem;
    font-size: 1.2rem;
    height: 2rem;
    width: 100%;
}

.button{
    border-radius: 1rem;
    font-size: 1.2rem;
    height: 2rem;
    min-width: 150px;

    &:hover{
        background-color: #FDFFFC;
        cursor: pointer;
    }

    &:active{
        background-color: #E2FFD6;
    }
}

.content-frame{
    margin: 0 auto;
    max-width: 1250px;
    padding: 0 .5rem;
}

.table{
    background-color: lighten($color: $dark-chocolate, $amount: 5);
    border-radius: .5rem;
    opacity: .7;
    width: 100%;

    td{
        height: $table-item-height;
        text-align: center;

        a{
            text-decoration: none;

            &:hover{
                text-decoration: underline;
            }
        }
    }
}

.table-head{
    color: $bud-green;

    tr{
        font-weight: 600;
    }

    td{
        padding: 0;
        margin: 0;
        text-transform: capitalize;
    }
}

.table-body{
    background-color: #FDFFFC;

    tr:last-child{
        td:first-child{
            border-radius: 0 0 0 .5rem;
        }

        td:last-child{
            border-radius: 0 0 .5rem 0;
        }
    }
}