@import "./variables";
@import "./Components/Spinner.scss";
@import "./Components/RootLayout.scss";
@import "./Pages/Login.scss";

*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

input{
    border-radius: .5rem;
    font-size: 1.2rem;
    height: 2rem;
    width: 100%;
}

.button{
    border-radius: 1rem;
    font-size: 1.2rem;
    height: 2rem;
    min-width: 150px;

    &:hover{
        background-color: #FDFFFC;
        cursor: pointer;
    }

    &:active{
        background-color: #E2FFD6;
    }
}